<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="resources/icon/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
        <%= app %>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse my-2 my-lg-0 justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recipe">Consultar Recetas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add_recipe">Añadir Recetas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add_book">Añadir Libro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add_ingredient">Añadir Ingrediente</a>
          </li>
          <li class="nav-item">
            <a href="/documentation">
              <button id="documentation-button" type="button" class="btn btn-dark rounded" data-bs-toggle="collapse"
              data-bs-target="#documentation" aria-controls="filter" aria-expanded="false" aria-label="Documentation">
              <i class="fas fa-file"></i>
          </button></a>
          </li>
          <li class="nav-item">
            <a  href="/export">
            <button id="search-button" type="button" class="btn btn-dark rounded" data-bs-toggle="collapse"
                data-bs-target="#export" aria-controls="filter" aria-expanded="false" aria-label="Filter">
                <i class="fas fa-download"></i>
            </button>
          </a>
          </li>
          <li class="nav-item">
            <a  href="/statistics">
            <button id="statistics-button" type="button" class="btn btn-dark rounded" data-bs-toggle="collapse"
                data-bs-target="#export" aria-controls="filter" aria-expanded="false" aria-label="Filter">
                <i class="fas fa-chart-pie"></i>
            </button>
          </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>